								<c:if test="${empty sessionScope.loginMember}">
								<a class="css-1g5o6hv" href="member_login.do">로그인</a>
								<a class="css-1g5o6hv" href="member_join.do">회원가입</a>
							    <a class="css-1tlac5g" href="/customer_center">고객센터</a>
							    </c:if>
							    <c:if test="${not empty sessionScope.loginMember}">
								<a class="css-1g5o6hv" href="member_logout.do">로그아웃</a>
								<a class="css-1g5o6hv" href="mypage_profile.do">마이페이지</a>
							    <a class="css-1tlac5g" href="/customer_center">고객센터</a>
							    </c:if>